<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.ykh.dao.ppsuser.PpsSysMenuMapper">
  <resultMap id="BaseResultMap" type="com.micro.ykh.dao.entity.ppsuser.PpsSysMenu">
    <!--@mbg.generated-->
    <!--@Table pps_sys_menu-->
    <id column="menu_id" jdbcType="INTEGER" property="menuId" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="component" jdbcType="VARCHAR" property="component" />
    <result column="uri" jdbcType="VARCHAR" property="uri" />
    <result column="is_frame" jdbcType="INTEGER" property="isFrame" />
    <result column="is_cache" jdbcType="INTEGER" property="isCache" />
    <result column="menu_type" jdbcType="CHAR" property="menuType" />
    <result column="visible" jdbcType="INTEGER" property="visible" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="perms" jdbcType="VARCHAR" property="perms" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    menu_id, menu_name, parent_id, order_num, `path`, component, uri, is_frame, is_cache, 
    menu_type, visible, `status`, perms, icon, create_by, create_time, update_by, update_time, 
    remark
  </sql>

  <sql id="selectMenuVo">
    select menu_id, menu_name, parent_id, order_num, `path`, component, uri, is_frame, is_cache, menu_type, visible, status, ifnull(perms,'') as perms, icon, create_time
    from pps_sys_menu
  </sql>

  <select id="findByIds" resultMap="BaseResultMap" parameterType="java.util.List">
    SELECT * FROM pps_sys_menu WHERE menu_id in
    <foreach collection="permissionIds" open="(" close=")" separator="," item="id">
      #{id}
    </foreach>
  </select>
  <select id="selectMenuTreeAll" resultMap="BaseResultMap">
    select distinct m.menu_id,
                    m.parent_id,
                    m.menu_name,
                    m.path,
                    m.component,
                    m.visible,
                    m.status,
                    ifnull(m.perms, '') as perms,
                    m.is_frame,
                    m.is_cache,
                    m.menu_type,
                    m.icon,
                    m.order_num,
                    m.create_time
    from pps_sys_menu m
    where m.menu_type in ('M', 'C')
    order by m.parent_id, m.order_num
  </select>
  <select id="selectMenuListByRoleId" resultType="java.lang.Integer">
    select m.menu_id
    from pps_sys_menu m
    left join fwt_sys_role_menu rm on m.menu_id = rm.menu_id
    where rm.role_id = #{roleId}
    <if test="menuCheckStrictly">
      and m.menu_id not in (select m.parent_id from pps_sys_menu m inner join fwt_sys_role_menu rm on m.menu_id =
      rm.menu_id and rm.role_id = #{roleId})
    </if>
    order by m.parent_id, m.order_num

  </select>

  <select id="selectMenuPermsByUserId" resultType="String">
    select distinct m.perms
    from pps_sys_menu m
    left join pps_sys_role_menu rm on m.menu_id = rm.menu_id
    left join pps_sys_user_role ur on rm.role_id = ur.role_id
    left join pps_sys_role r on r.id = ur.role_id
    where m.status = 1 and r.status = 1 and ur.user_id = #{userId}
  </select>

  <select id="selectMenuList" parameterType="com.micro.ykh.dao.entity.ppsuser.PpsSysUser" resultMap="BaseResultMap">
    <include refid="selectMenuVo"/>
    <where>
      <if test="menuName != null and menuName != ''">
        AND menu_name like concat('%', #{menuName}, '%')
      </if>
      <if test="visible != null and visible != ''">
        AND visible = #{visible}
      </if>
      <if test="status != null and status != ''">
        AND status = #{status}
      </if>
    </where>
    order by parent_id, order_num
  </select>
</mapper>